.worldwarxContainer {
    width: 100%;
    margin-top: 15rem;
}

.worldwarxContainer .cover {
    display: flex;
    padding: 0 100px;
    width: 100%;
    height: 500px;
}

.worldwarxContainer .cover .leftSide,
.worldwarxContainer .cover .rightSide {}

.worldwarxContainer .cover .leftSide {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.worldwarxContainer .cover .leftSide .pattren {
    width: 150px;
    object-fit: contain;
}


.worldwarxContainer .cover .leftSide h1 {
    font-size: 80px;
    font-family: "Poppins", sans-serif;
    line-height: 1;

    font-weight: 800;
    letter-spacing: -3px;

    margin: 3rem 0;
}

.worldwarxContainer .cover .leftSide .siteLink {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;

    cursor: pointer;
}

.worldwarxContainer .cover .leftSide .siteLink p {
    color: #B8B8B8;
    font-size: 20px;
    transition: all 0.3s ease;
}

.worldwarxContainer .cover .leftSide .siteLink img {
    object-fit: contain;
    margin-left: 1rem;
    transition: all 0.3s ease;
}

.worldwarxContainer .cover .leftSide .siteLink:hover p {
    transform: scale(1.1);

    transform-origin: 0 50%;
}

.worldwarxContainer .cover .leftSide .siteLink:hover img {
    margin-left: 4rem;
}

.worldwarxContainer .cover .rightSide {
    width: 60%;
    margin: 0;
    padding: 0;
}

.worldwarxContainer .cover .rightSide img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.worldwarxContainer .grandCover {
    width: 100%;
    min-height: 30vh;
    object-fit: cover;

    margin-top: -5px;
}

.worldwarxContainer .gameDetails {
    display: flex;
    padding: 0 200px;

    margin-top: -5px;
}

.worldwarxContainer .gameDetails .leftSide {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;

}

.worldwarxContainer .gameDetails .leftSide .lower,
.worldwarxContainer .gameDetails .leftSide .upper {}

.worldwarxContainer .gameDetails .leftSide .upper {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin-bottom: 2rem;
}

.worldwarxContainer .gameDetails .leftSide .upper img {
    width: 100%;
    object-fit: contain;
}

.worldwarxContainer .gameDetails .leftSide .lower {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30%;
    border-top: 4px solid black;
}

.worldwarxContainer .gameDetails .leftSide .lower img {
    width: 60%;
    object-fit: contain;
}

.worldwarxContainer .gameDetails .rightSide {
    width: 30%;
}

.worldwarxContainer .gameDetails .rightSide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 1100px) {
    .worldwarxContainer .cover .rightSide img {
        /* border: 2px solid red; */
        margin-top: 1rem;
    }

    .worldwarxContainer .gameDetails {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 800px) {
    .worldwarxContainer .cover {
        height: 400px;
        padding: 0 50px;
    }

    .worldwarxContainer .cover .leftSide h1 {
        font-size: 60px;
    }

    .worldwarxContainer .gameDetails {
        padding: 0 50px;
    }
}


@media only screen and (max-width: 760px) {
    .worldwarxContainer .cover {
        height: auto;
        flex-direction: column;
    }

    .worldwarxContainer .cover .leftSide,
    .worldwarxContainer .cover .rightSide {
        width: 100%;
    }

    .worldwarxContainer .cover .rightSide {
        height: 300px;
    }
}


@media only screen and (max-width: 600px) {

    .worldwarxContainer .cover,
    .worldwarxContainer .gameDetails {
        padding: 0 0.5rem;
    }

    .worldwarxContainer .gameDetails {
        flex-direction: column;
    }

    .worldwarxContainer .gameDetails .leftSide,
    .worldwarxContainer .gameDetails .rightSide {
        width: 100%;
    }

    .worldwarxContainer .gameDetails .leftSide .lower {
        height: 80px;
    }

}