.whoWeAreSectionContainer {
    width: 100%;
    height: auto;
}

.whoWeAreSectionContainer .WhoWeAreSectionHead {
    font-family: Apercu-Pro;
    border-bottom: 2px solid black;
    padding: 1rem 300px;
}

.whoWeAreSectionContainer .WhoWeAreSectionHead span {
    border-bottom: 4px solid black;
    padding: 1rem 0;
}

.whoWeAreSectionContainer .secondaryText {
    font-family: Apercu-Pro;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;

    padding: 3rem 300px;

}

.whoWeAreSectionContainer .secondaryText span {
    font-weight: 600;
}

.whoWeAreSectionContainer .profiles {
    width: 100%;
    padding: 1rem 400px;

    display: flex;
    justify-content: space-between;
}

.whoWeAreSectionContainer .profiles .profile {
    width: 300px;

}

.whoWeAreSectionContainer .profiles .profile img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.whoWeAreSectionContainer .profiles .profile .name {
    font-size: 24px;
    font-family: Apercu-Pro;

    text-transform: uppercase;
    margin-top: 0.5rem;

}

.whoWeAreSectionContainer .profiles .profile .role {
    font-size: 16px;
    font-family: Apercu-Pro;

    text-transform: uppercase;

    margin-top: 0.5rem;
}

.whoWeAreSectionContainer .profiles .profile .details {
    font-size: 14px;
    font-family: Apercu-Pro;
    margin-top: 0.5rem;
    line-height: 1.5;
}

@media only screen and (max-width: 1200px) {
    .whoWeAreSectionContainer .WhoWeAreSectionHead {
        padding: 1rem 200px;
    }

    .whoWeAreSectionContainer .secondaryText {
        padding: 3rem 200px;
    }

    .whoWeAreSectionContainer .profiles {
        padding: 1rem 250px;
    }
}

@media only screen and (max-width: 900px) {
    .whoWeAreSectionContainer .WhoWeAreSectionHead {
        padding: 1rem 100px;
    }

    .whoWeAreSectionContainer .secondaryText {
        padding: 3rem 100px;
    }

    .whoWeAreSectionContainer .profiles {
        padding: 1rem 100px;
    }
}

@media only screen and (max-width: 760px) {
    .whoWeAreSectionContainer .WhoWeAreSectionHead {
        padding: 1rem 50px;
    }

    .whoWeAreSectionContainer .secondaryText {
        padding: 3rem 50px;
    }

    .whoWeAreSectionContainer .profiles {
        padding: 1rem 50px;
    }

    .whoWeAreSectionContainer .profiles .profile {
        width: 45%;
    }

}

@media only screen and (max-width: 600px) {
    .whoWeAreSectionContainer .WhoWeAreSectionHead {
        padding: 1rem 0.5rem;
    }

    .whoWeAreSectionContainer .secondaryText {
        padding: 3rem 0.5rem;
        font-size: 22px;
    }

    .whoWeAreSectionContainer .profiles {
        padding: 1rem 0.5rem;
        flex-direction: column;
        align-items: center;
    }

    .whoWeAreSectionContainer .profiles .profile {
        width: 80%;
        margin-bottom: 2rem;
    }
}