.heroContainer {
    width: 100%;
    height: auto;
    min-height: 100vh;

    font-family: Apercu-Pro;
    padding: 0.5rem 100px;

}

.heroContainer .heroText {
    width: 100%;
    font-size: 58px;
    height: auto;
    margin: 3rem 0;
    text-transform: uppercase;
    text-wrap: wrap;
    /* padding-right: 17vw; */
    padding-right: 20rem;

}

.heroContainer .heroText .strongText {
    font-weight: 600;
}

.heroContainer .heroText .firstLine {
    width: fit-content;
}

.heroContainer .cta_buttons {
    width: 100%;
    max-width: 100%;

    display: flex;

    /* flex-direction: column; */
    min-height: 75px;
    height: max-content;
    min-width: max-content;
    justify-content: flex-end;
    margin-top: 5rem;

}

.heroContainer .cta_buttons .threeDBtn {
    min-width: 250px;
    height: auto;
    position: relative;
}

.heroContainer .cta_buttons .threeDBtn .cta_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    outline: none;
    position: absolute;
    width: 200px;
    background-color: white;
    top: 0;
    left: 0;
    border: 3px solid #000000;
    border-radius: 25px;
    margin: 0;
    transition: all 0.2s ease;
    cursor: pointer;
}

.heroContainer .cta_buttons .threeDBtn .cta_button_back {
    display: flex;
    align-items: center;
    outline: none;
    background-color: white;
    width: 200px;
    height: 50px;
    position: absolute;
    /* width: max-content; */
    transform: translate(6px, 6px);
    border: 3px solid #000000;
    border-radius: 25px;
    margin: 0;
}

.heroContainer .cta_buttons .threeDBtn .cta_button:hover {
    transform: translate(6px, 6px);
}

.heroContainer .cta_buttons .threeDBtn .cta_button img,
.heroContainer .cta_buttons .threeDBtn .cta_button_back img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.heroContainer .cta_buttons .threeDBtn .cta_button_back img,
.heroContainer .cta_buttons .threeDBtn .cta_button_back span {
    visibility: hidden;
}

.heroContainer .cta_buttons .threeDBtn .cta_button span,
.heroContainer .cta_buttons .threeDBtn .cta_button_back span {
    font-family: Apercu-Pro;

    font-size: 18px;
    font-weight: 600;

    margin-left: 1.5rem;
}


@media only screen and (max-width: 1100px) {
    .heroContainer {
        padding: 0.5rem 50px;
    }

    .heroContainer .heroText {
        width: 100%;
        font-size: 58px;
        height: auto;
        margin: 3rem 0;
        text-transform: uppercase;
        text-wrap: wrap;
        padding-right: 8rem;
    }
}

@media only screen and (max-width: 900px) {
    .heroContainer {
        padding: 0.5rem 50px;
        min-height: 90vh;
    }


    .heroContainer .heroText {
        text-align: center;
        padding: 1rem 0;
    }

    .heroContainer .heroText .spaces {
        display: none;
    }

    .heroContainer .cta_buttons {
        flex-direction: column;
        min-height: auto;
        height: auto;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
    }

    .heroContainer .cta_buttons .threeDBtn {
        width: auto;
        height: auto;
        position: relative;
        margin-top: -4.5rem;
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 660px) {
    .heroContainer .heroText {
        font-size: 36px;
    }
}

@media only screen and (max-width: 475px) {
    .heroContainer {
        padding: 0.5rem 0.5rem;
        min-height: 80vh;
    }

    .heroContainer .heroText {
        font-size: 28px;
    }
}