.whySectionContainer {
    width: 100%;
}

.whySectionContainer .whySectionHead {
    text-align: right;
    font-family: Apercu-Pro;
    border-bottom: 2px solid black;
    padding: 1rem 300px;
}

.whySectionContainer .whySectionHead span {
    border-bottom: 4px solid black;
    padding: 1rem 0;
}

.whySectionContainer .whySectionContent {
    display: flex;
    align-items: center;
    padding: 4rem 300px;

    padding-bottom: 8rem;

}


.whySectionContainer .whySectionContent .leftSide {
    width: 70%;
}

.whySectionContainer .whySectionContent .rightSide {
    width: 30%;
}

.whySectionContainer .whySectionContent .rightSide img {
    width: 100%;
    object-fit: contain;
}

.whySectionContainer .whySectionContent .leftSide p {
    font-family: Apercu-Pro;
    text-align: right;
    font-size: 24px;
    margin: 0 4rem;
    text-transform: uppercase;
}

.whySectionContainer .whySectionContent .leftSide p span {
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    .whySectionContainer .whySectionHead {
        padding: 1rem 200px;
    }

    .whySectionContainer .whySectionContent {
        padding: 4rem 200px;
    }
}

@media only screen and (max-width: 900px) {
    .whySectionContainer .whySectionHead {
        padding: 1rem 100px;
    }

    .whySectionContainer .whySectionContent {
        padding: 4rem 100px;
    }
}

@media only screen and (max-width: 760px) {
    .whySectionContainer .whySectionHead {
        padding: 1rem 50px;
    }

    .whySectionContainer .whySectionContent {
        padding: 4rem 50px;
    }

    .whySectionContainer .whySectionContent .leftSide p {
        margin: 0 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .whySectionContainer .whySectionHead {
        padding: 1rem 0.5rem;
    }

    .whySectionContainer .whySectionContent {
        padding: 2rem 0.5rem;

        flex-direction: column;
    }

    .whySectionContainer .whySectionContent .leftSide,
    .whySectionContainer .whySectionContent .rightSide {
        width: 100%;
        text-align: center;
        margin: 0;
    }
}