@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Apercu-Pro";
  src: local("Apercu-Pro"),
    url("./assets/fonts/apercu_regular_pro.otf") format("woff");
}

@font-face {
  font-family: "Apercu-Medium-Pro";
  src: local("Apercu-Medium-Pro"),
    url("./assets/fonts/apercu_medium_pro.otf") format("woff");
}

@font-face {
  font-family: "Apercu-Bold-Pro";
  src: local("Apercu-Bold-Pro"),
    url("./assets/fonts/apercu_bold_pro.otf") format("woff");
}

@font-face {
  font-family: "Apercu-Light-Pro";
  src: local("Apercu-Light-Pro"),
    url("./assets/fonts/ApercuPro-Light.ttf") format("woff");
}

@font-face {
  font-family: "Apercu-Extra-Light-Pro";
  src: local("Apercu-Extra-Light-Pro"),
    url("./assets/fonts/ApercuPro-ExtraLight.ttf") format("woff");
}